<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Amirtham uses the camera to capture a photo of the menu card.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Amirtham needs access to your photo library to upload a menu card image.</string>
</dict>
</plist>